*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/de/hype/hypenotify/PrivateConfig.java

# Project exclude paths
/annotations/build/
/annotations/build/classes/java/main/
/processor/build/
/processor/build/classes/java/main/
/app/src/google-services.json
/server-project/build/
/.idea/
/keystore/sign_keystore.jks
/keystore.properties
/app/google-services.json
/gradle/wrapper/gradle-wrapper.jar
/server-project/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/server-project/gradle/wrapper/gradle-wrapper.properties
/server-project/gradlew
/gradlew
/server-project/gradlew.bat
/gradlew.bat
